<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width,initial-scale=1" name="viewport">
  <meta content="description" name="description">
  <meta name="google" content="notranslate" />
  <meta content="Mashup templates have been developped by Orson.io team" name="author">

  <!-- Disable tap highlight on IE -->
  <meta name="msapplication-tap-highlight" content="no">

  <link rel="apple-touch-icon" sizes="180x180" href=".\static\assets\apple-icon-180x180.png">
  <link href=".\static\assets\apple-icon-180x180.png" rel="icon">

  <title>Title page</title>

<link href=".\static\main.3f6952e4.css" rel="stylesheet"></head>

<body class="">
<div id="site-border-left"></div>
<div id="site-border-right"></div>
<div id="site-border-top"></div>
<div id="site-border-bottom"></div>
 <!-- Add your content of header -->
<header>
  <nav class="navbar  navbar-fixed-top navbar-default">
    <div class="container">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
          <span class="sr-only">Toggle Navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

      <div class="collapse navbar-collapse" id="navbar-collapse">
        <ul class="nav navbar-nav ">
          <li><a href="./index.html" title="">01 : Home</a></li>
          <li><a href="./works.html" title="">02 : Works</a></li>
          <li><a href="./about.html" title="">03 : About Me</a></li>
          <li><a href="./contact.html" title="">04 : Contact</a></li>
        </ul>


      </div>
    </div>
  </nav>
</header>

<div class="section-container">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="section-container-spacer text-center">
            <h1 class="h2">03 : About Me</h1>
          </div>

          <div class="row">
            <div class="col-md-10 col-md-offset-1">
              <div class="row">
                <div class="col-xs-12 col-md-6">
                  <h3>Family History</h3>
                  <p>&nbsp;&nbsp;&nbsp;&nbsp;Born in Provo, UT, we moved around the first two years until landing in Rochester, Minnesota.  By then I had one sister, and over the next 7 was given 5 more brothers.
                  After staying a few more years we moved to Idaho as I was turning 12, staying the better part of a year in North Idaho before ending up in Boise, ID.
                  Once graduating High School I lived in a varity of places including Florida, Virginia, Spokane, California, and a few other states inbetween.  Around 2014 I ended up in
                  Coeur d' Alene, ID where I have many Aunts, Uncles, Cousins, and all living Grandparents.
                  <img src=".\static\assets\images\withwife.jpg" class="img-responsive" alt="Eric and Aubrea Emery"
                  { width=50% height=50% style="float:right"}>
                  <p>&nbsp;&nbsp;&nbsp;&nbsp;During my time in North Idaho I met my now-wife, Aubrea, who is from Sagle (about 45 min North of CDA) and I moved back down to Boise with her where we spent two years before
                  eventually getting married August 21st, 2019 in Maui, HI.  The following spring I took a job in Odessa, TX for the summer, eventually making our way back to Idaho where we are now.
                  We have a 12-year-old kitten named Pancake, two Sugar Gliders, and will soon be adopting a 35-year-old African Gray Parrot.</p>
                  <p>&nbsp;&nbsp;&nbsp;&nbsp;I spend my free time reading, taking courses in Programming, and enjoy gaming and developing other small hobbies.  I hope to eventually be able to work from home programming,
                  and move us back up to North Idaho so we can get some forrested land and be closer to the wife's family when we start our own family.</p>
                  <h3>Education </h3>
                  <p>Duis aute irure dolor in reprehenderit in voluptate velit esse
                  cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                  proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                  <h3>Work Experience</h3>
                  <p>
                  Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Phasellus iaculis magna sagittis elit sagittis, at hendrerit lorem venenatis. Morbi accumsan iaculis blandit. Cras ultrices hendrerit nisl.</p>
                </div>
                <div class="col-xs-12 col-sm-6">
                  <img src=".\static\assets\images\myself.jpg" class="img-responsive" alt="Eric Emery">
                  <img src=".\static\assets\images\cat-pancake.jpg" class="img-responsive" alt="Pancake"
                  { width=50% height=50% style="float:right"}>
                </div>
                </div>
              </div>
            </div>
          </div>


       </div>
      </div>
    </div>
  </div>


<footer class="footer-container text-center">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <p>© TrueEmotion | Website created by <a href="/about.html" title="About Me">Eric Emery</a> with <a href="https://www.python.org/" title="Python.org">Python</a>
      </div>
    </div>
  </div>
</footer>

<script type="text/javascript" src=".\static\main.70a66962.js"></script></body>

</html>
