


<!DOCTYPE html>
<html>
<head prefix="og: http://ogp.me/ns# profile: http://ogp.me/ns/profile#">
    <meta name="viewport" content="width=device-width" />
    <title>Resume Website</title>

<script>
(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-K9TD7W3');</script>
    <!--Link to manifest-->
    <link rel="manifest" href="/manifest.json">
    <!--Theme color for android-->
    <meta name="theme-color" content="#8cc53e" />
    <!--Icons For iOs-->
    <link rel="apple-touch-icon" href="/images/touch-icon-iphone.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/images/touch-icon-ipad.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/images/touch-icon-iphone-retina.png">
    <link rel="apple-touch-icon" sizes="167x167" href="/images/touch-icon-ipad-retina.png">
    <!--Status Bar-->
    <meta name="apple-mobile-web-app-status-bar-style" content="translucent black">
    <!--Hiding Safari User Interface Components-->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <!--Launch Icon Title-->
    <meta name="apple-mobile-web-app-title" content="ResumeNerd">

    <!-- Facebook meta data -->
    <meta property="og:title" content="Eric Emery" />
    <meta property="og:url" content="https://www.resumenerd.com/sites/ee-13" />
    <meta property="og:type" content="profile" />
    <meta property="profile:first_name" content="Eric">
    <meta property="profile:last_name" content="Emery">
    <meta property="og:description" content="Click here to visit my professional website for more information about me and my career." />
    <meta property="og:site_name" content="ResumeNerd" />
    <meta property="og:image" content="https://www.resumenerd.com/images/nerd-logo-200x200.jpg" />
    <meta property="og:image:width" content="200">
    <meta property="og:image:height" content="200">

    <!-- Twitter meta data -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:creator" content="Eric Emery">
    <meta name="twitter:site" content="ResumeNerd" />
    <meta name="twitter:title" content="Eric Emery">
    <meta name="twitter:description" content="Click here to visit my professional website for more information about me and my career.">
    <meta name="twitter:image" content="https://www.resumenerd.com/images/nerd-logo-200x200.jpg">


    <link href="https://cdn4.resumenerd.com/css/fonts.css?v=144" rel="stylesheet" />
    <link href="https://cdn4.resumenerd.com/css/resume-site.css?v=144" rel="stylesheet" />
    <script>
        function FirePage() {
            window.RDL.Plugin('analytics').Load(function(){}).Ready(function () {
                RDL.Analytics.Page('Resume Site', RDL.User.IsSignedIn().toString().toUpperCase(), 'Returning');
            });
        }
    </script>
        <script src="https://cdn3.resumenerd.com/scripts/custom/app.min.js?v=144" crossorigin="anonymous"onload="FirePage()"></script>


</head>
<body>

<script>
window.RDL = window.RDL || {};
</script>
<input type="hidden" id="segmentKey" value="KlmV3ShhfXgDVj9NM7TVtteiRd6vkggW" />
<!-- Google Tag Manager (noscript) -->
<noscript>
    <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-K9TD7W3"
            height="0" width="0" style="display:none;visibility:hidden"></iframe>
</noscript>
<!-- End Google Tag Manager (noscript) -->
        <input type="hidden" id="profileId" value="23331" />
        <header class="header">
            <section class="container-main clearfix">
                <h1 class="logo-name">Eric Emery</h1>
                    <a href="/download/a142cbe3-8e1c-417e-b620-a2df84a8cb15/PDF/DDASH/RSME" target="_blank" id="downloadResume" class="button-primary button-download radius-primary">Download My Full Resume</a>
            </section>
                <div class="site-msg text-center" ]>This site is currently private and won't be visible to visitors. <a href="/dashboard/sites?actionType=SMODE&siteId=23331">Click here to make it public.</a></div>
        </header>
        <section class="hero-intro text-center">
            <div class="container-main">
                <h1>Hello, I’m Eric Emery.</h1>
                <p>OSP Construction Supervisor</p>
            </div>
        </section>
        <div class="container-main">

            <section class="content-wrapper text-center summary-section">
                <i class="fas fa-user-circle"></i>
                <h2 class="text-upper">PROFESSIONAL SUMMARY</h2>
                    <div class="summary-description"><p>&nbsp;&nbsp;&nbsp;&nbsp;For every generation, in every family, there is that one particular individual everyone knows to call whenever the internet goes out, any time an appliance quits working, or every new TV, stereo, electronic, or complex device needs to be installed... there is always the guy everyone knows can make it work.&nbsp;</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;In my family, I am that guy.</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;Extremely interested in learning everything I can in any and all topics. &nbsp;Uniquely skilled in understanding complex ideas and systems quickly. &nbsp;Strong ability to understand needs and train others. &nbsp;I am newly married and seeking a worthy "forever home" to use my skills and abilities, while continuing to learn and grow.</p></div>
            </section><!-- summary-section -->
            <section class="content-wrapper experience-section">
                <i class="fas fa-briefcase"></i>
                <h2 class="text-upper  text-center">WORK EXPERIENCE</h2>
                    <div class="experience-timeline">
                            <div class="timeline-row">
                                <div class="timeline-left">
                                    <div class="experince-details">
                                            <span class="time-period text-upper">2007-Present</span>
                                        <h3 class="company">True Emotion LLC<span class="designation">Owner</span></h3>
                                    </div><!-- experince-details -->
                                </div><!-- timeline-left -->
                                <div class="timeline-right">
                                    <ul class="experince-description">
                                            <li> <p> Founded company for all 10-99 contracts in sales and marketing. </p></li>
                                            <li> <p>  Door-to-door, direct, retail, network marketing, social marketing, and any other sales or marketing available. </p></li>
                                    </ul>
                                </div><!-- timeline-row -->
                            </div><!-- timeline-row -->
                            <div class="timeline-row">
                                <div class="timeline-left">
                                    <div class="experince-details">
                                            <span class="time-period text-upper">2021-2022</span>
                                        <h3 class="company">HHS Construction<span class="designation">OSP Construction Supervisor</span></h3>
                                    </div><!-- experince-details -->
                                </div><!-- timeline-left -->
                                <div class="timeline-right">
                                    <ul class="experince-description">
                                            <li> <p> Increased productivity and decreased time needed for new-hire training with changes to scheduling and management processes. </p></li>
                                            <li> <p>  Cut office assistants hours by 25% by designing and programming a production tracking and reporting software GUI integrated with Excell. </p></li>
                                    </ul>
                                </div><!-- timeline-row -->
                            </div><!-- timeline-row -->
                            <div class="timeline-row">
                                <div class="timeline-left">
                                    <div class="experince-details">
                                            <span class="time-period text-upper">2019-2021</span>
                                        <h3 class="company">IM Services Group, LLC<span class="designation">Project Manager</span></h3>
                                    </div><!-- experince-details -->
                                </div><!-- timeline-left -->
                                <div class="timeline-right">
                                    <ul class="experince-description">
                                            <li> <p> Managed installation and maintenance of 400 mile stretch of fiber to monitor oil pipeline and worker camp communications. </p></li>
                                            <li> <p>  Decreased communication outages upgrading all sites to propane-powered backup generators. </p></li>
                                    </ul>
                                </div><!-- timeline-row -->
                            </div><!-- timeline-row -->
                            <div class="timeline-row">
                                <div class="timeline-left">
                                    <div class="experince-details">
                                            <span class="time-period text-upper">2013-2019</span>
                                        <h3 class="company">System Tech, Inc<span class="designation">Project Manager</span></h3>
                                    </div><!-- experince-details -->
                                </div><!-- timeline-left -->
                                <div class="timeline-right">
                                    <ul class="experince-description">
                                            <li> <p> Maintained average of 32% profit margin, managing over 700 low-voltage system installations projects and 20+ technicians per year. </p></li>
                                            <li> <p>  Reduced mistakes by certifying and training more technicians in many Communication, Nurse Call, and Security Systems. </p></li>
                                    </ul>
                                </div><!-- timeline-row -->
                            </div><!-- timeline-row -->
                    </div><!-- experience-timeline -->
            </section><!-- experience-section -->
            <section class="content-wrapper text-center education-section">
                <i class="fas fa-graduation-cap"></i>
                <h2 class="text-upper">EDUCATION</h2>
            </section><!-- education-section -->
            <section class="content-wrapper text-center skills-section">
                <i class="fas fa-star"></i>
                <h2 class="text-upper">SKILLS</h2>
                    <ul class="skills-list">
                            <li>
                                <i class="far fa-check"></i>
                                <span>Improving Efficiency</span>
                            </li>
                            <li>
                                <i class="far fa-check"></i>
                                <span>Problem Solving</span>
                            </li>
                            <li>
                                <i class="far fa-check"></i>
                                <span>Communication and Training</span>
                            </li>
                            <li>
                                <i class="far fa-check"></i>
                                <span>Organization and Planning</span>
                            </li>
                            <li>
                                <i class="far fa-check"></i>
                                <span>Smiles Guaranteed</span>
                            </li>
                            <li>
                                <i class="far fa-check"></i>
                                <span>Absorbing Knowledge</span>
                            </li>
                    </ul>
            </section><!-- skills-section -->
        </div><!-- container-main -->
            <section class="contact-section">
                <div class="container-main">
                    <h2 class="text-upper text-center">Contact Me</h2>
                    <ul class="contact-options">
                        <li class="person">
                            <div class="contact-details">
                                <h2>Eric Emery</h2>
                                <span class="designation">OSP Construction Supervisor</span>
                            </div>
                        </li>
                        <li class="text-center">
                            <i class="fas fa-envelope"></i>
                                <a href=" mailto:eric.trueemotion@gmail.com" class="contact-details">eric.trueemotion@gmail.com</a>
                        </li>
                        <li class="text-center">
                            <i class="fas fa-phone-alt"></i>
                            <span class="contact-details">2087895736</span>
                        </li>
                    </ul>
                </div><!-- container-main -->
            </section><!-- skills-section -->
            <footer class="footer text-center">©2022 By Eric Emery. Created With <a target="_blank" href="https://www.resumenerd.com/">Resumenerd.com</a></footer>

</body>
</html>
