


<!DOCTYPE html>
<html>
<head prefix="og: http://ogp.me/ns# profile: http://ogp.me/ns/profile#">
    <meta name="viewport" content="width=device-width" />
    <title>Resume Website</title>

<script>
(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-K9TD7W3');</script>
    <!--Link to manifest-->
    <link rel="manifest" href="/manifest.json">
    <!--Theme color for android-->
    <meta name="theme-color" content="#8cc53e" />
    <!--Icons For iOs-->
    <link rel="apple-touch-icon" href="/images/touch-icon-iphone.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/images/touch-icon-ipad.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/images/touch-icon-iphone-retina.png">
    <link rel="apple-touch-icon" sizes="167x167" href="/images/touch-icon-ipad-retina.png">
    <!--Status Bar-->
    <meta name="apple-mobile-web-app-status-bar-style" content="translucent black">
    <!--Hiding Safari User Interface Components-->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <!--Launch Icon Title-->
    <meta name="apple-mobile-web-app-title" content="ResumeNerd">

    <!-- Facebook meta data -->
    <meta property="og:title" content="Eric Emery" />
    <meta property="og:url" content="https://www.resumenerd.com/sites/eric_emery_resume" />
    <meta property="og:type" content="profile" />
    <meta property="profile:first_name" content="Eric">
    <meta property="profile:last_name" content="Emery">
    <meta property="og:description" content="Click here to visit my professional website for more information about me and my career." />
    <meta property="og:site_name" content="ResumeNerd" />
    <meta property="og:image" content="https://www.resumenerd.com/images/nerd-logo-200x200.jpg" />
    <meta property="og:image:width" content="200">
    <meta property="og:image:height" content="200">

    <!-- Twitter meta data -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:creator" content="Eric Emery">
    <meta name="twitter:site" content="ResumeNerd" />
    <meta name="twitter:title" content="Eric Emery">
    <meta name="twitter:description" content="Click here to visit my professional website for more information about me and my career.">
    <meta name="twitter:image" content="https://www.resumenerd.com/images/nerd-logo-200x200.jpg">


    <link href="https://cdn4.resumenerd.com/css/fonts.css?v=144" rel="stylesheet" />
    <link href="https://cdn4.resumenerd.com/css/resume-site.css?v=144" rel="stylesheet" />
    <script>
        function FirePage() {
            window.RDL.Plugin('analytics').Load(function(){}).Ready(function () {
                RDL.Analytics.Page('Resume Site', RDL.User.IsSignedIn().toString().toUpperCase(), 'Returning');
            });
        }
    </script>
        <script src="https://cdn3.resumenerd.com/scripts/custom/app.min.js?v=144" crossorigin="anonymous"onload="FirePage()"></script>


</head>
<body>

<script>
window.RDL = window.RDL || {};
</script>
<input type="hidden" id="segmentKey" value="KlmV3ShhfXgDVj9NM7TVtteiRd6vkggW" />
<!-- Google Tag Manager (noscript) -->
<noscript>
    <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-K9TD7W3"
            height="0" width="0" style="display:none;visibility:hidden"></iframe>
</noscript>
<!-- End Google Tag Manager (noscript) -->
        <input type="hidden" id="profileId" value="23024" />
        <header class="header">
            <section class="container-main clearfix">
                <h1 class="logo-name">Eric Emery</h1>
                    <a href="/download/65633968-b13a-4b51-bbbd-aea4d7440078/PDF/DDASH/RSME" target="_blank" id="downloadResume" class="button-primary button-download radius-primary">Download My Full Resume</a>
            </section>
        </header>
        <section class="hero-intro text-center">
            <div class="container-main">
                <h1>Hello, I’m Eric Emery.</h1>
                <p>Construction Supervisor OSP</p>
            </div>
        </section>
        <div class="container-main">

            <section class="content-wrapper text-center summary-section">
                <i class="fas fa-user-circle"></i>
                <h2 class="text-upper">PROFESSIONAL SUMMARY</h2>
                    <div class="summary-description"><p>Natural <strong>Project Manager</strong> who delivers consistent, efficient and professional work in complex, fast-paced environments. <em>Offers 7+ years in low voltage and construction</em> <em>industry and 10+ in customer service and sales</em> with expert abilities in planning, problem solving, and analysis. &nbsp;Trained in low voltage cabling and networking, project management, GIS/Blueprints, CAD, and programming experience. <em>&nbsp;</em></p>
<p><em>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;I see connections and solve problems before there is one.</em></p></div>
            </section><!-- summary-section -->
            <section class="content-wrapper experience-section">
                <i class="fas fa-briefcase"></i>
                <h2 class="text-upper  text-center">WORK EXPERIENCE</h2>
                    <div class="experience-timeline">
                            <div class="timeline-row">
                                <div class="timeline-left">
                                    <div class="experince-details">
                                            <span class="time-period text-upper">2007-Present</span>
                                        <h3 class="company">True Emotion LLC<span class="designation">Founder</span></h3>
                                    </div><!-- experince-details -->
                                </div><!-- timeline-left -->
                                <div class="timeline-right">
                                    <ul class="experince-description">
                                            <li> <p> Generated additional wealth by leveraging contract sales and marketing positions through LLC. &nbsp;Expanded income streams by writing and selling business models, then personally managing opening of new offices. &nbsp;This included cost analysis, sales projections, and estimating company milestones. </p></li>
                                            <li> <p>  Maximized productivity through strategic office and warehouse purchases and use while monitoring costs, employee hiring, sales development, process implementation, and both sales and technician training. </p></li>
                                            <li> <p>  Developed rapport with clients and key prospects, including actively contributing to sales process, making in-person sales calls, and entertaining clients. </p></li>
                                            <li> <p>  Trained sales team on superior strategies for managing value messages, structuring opportunities, and achieving deal closures. &nbsp;Wrote and developed sales scripts and flow charts for door-to-door, telemarketing,&nbsp; </p></li>
                                            <li> <p>  Identified trends and tracked competitors with regular analysis of market data. &nbsp;This included selecting yearly sales locations and products for direct sales, timing and message for social media, and both writing and presenting at public events. </p></li>
                                            <li> <p>  Enhanced satisfaction by offering customers and partners product support with technical and service issues. </p></li>
                                            <li> <p>  Developed sales pitches and strategies that produced upwards of $18,000 in weekly sales. </p></li>
                                            <li> <p>  Increased personal skill sets in downtime months to gain proficiency in multiple programming languages, web development, low-voltage systems, CAD, GIS, and project management. </p></li>
                                    </ul>
                                </div><!-- timeline-row -->
                            </div><!-- timeline-row -->
                            <div class="timeline-row">
                                <div class="timeline-left">
                                    <div class="experince-details">
                                            <span class="time-period text-upper">2021-2022</span>
                                        <h3 class="company">HHS Construction<span class="designation">Construction Supervisor OSP</span></h3>
                                    </div><!-- experince-details -->
                                </div><!-- timeline-left -->
                                <div class="timeline-right">
                                    <ul class="experince-description">
                                            <li> <p> Oversaw OSP construction for Underground and Aerial fiberoptics. </p></li>
                                            <li> <p>  Review prints, ordered materials, assigned crews and scheduling. </p></li>
                                            <li> <p>  Project progress tracking and reporting including blueprint redline and as-built. </p></li>
                                            <li> <p>  Troubleshooting and completing permits and change orders. </p></li>
                                            <li> <p>  Developed and wrote material and vehicle tracking forms including developing own production tracking software front and back-end. </p></li>
                                            <li> <p>  Looking for other opportunities due to lack of projects in market. </p></li>
                                    </ul>
                                </div><!-- timeline-row -->
                            </div><!-- timeline-row -->
                            <div class="timeline-row">
                                <div class="timeline-left">
                                    <div class="experince-details">
                                            <span class="time-period text-upper">2021-2021</span>
                                        <h3 class="company">MTI<span class="designation">Senior Field Technician</span></h3>
                                    </div><!-- experince-details -->
                                </div><!-- timeline-left -->
                                <div class="timeline-right">
                                    <ul class="experince-description">
                                            <li> <p> Short-Term employment while moving back into Idaho. </p></li>
                                            <li> <p>  Supported preventive maintenance programs at retail locations by managing documentation and updated training records. </p></li>
                                            <li> <p>  Provided input to update and maintain effective training materials. </p></li>
                                            <li> <p>  Located faults in electrical systems through effective line testing. </p></li>
                                            <li> <p>  Completed basic field maintenance tasks such as installing new equipment and replacing worn components. </p></li>
                                            <li> <p>  Installed security equipment on major brands like Sony, Samsung, Apple, and AT&amp;T. </p></li>
                                            <li> <p>  Maintained detailed logs of equipment repair, maintenance, and installation jobs. </p></li>
                                    </ul>
                                </div><!-- timeline-row -->
                            </div><!-- timeline-row -->
                            <div class="timeline-row">
                                <div class="timeline-left">
                                    <div class="experince-details">
                                            <span class="time-period text-upper">2019-2021</span>
                                        <h3 class="company">IM Services Group, LLC<span class="designation">Project Manager</span></h3>
                                    </div><!-- experince-details -->
                                </div><!-- timeline-left -->
                                <div class="timeline-right">
                                    <ul class="experince-description">
                                            <li> <p> Assisted in planning and implementation of projects covering over 400 miles of Oil and Natural Gas pipelines, including customer facilities, employee camps, and all monitoring equipment on the network. </p></li>
                                            <li> <p>  Tracked and mapped hundreds of locations with ArcGIS, creating easy-to-use maps and charts to cut down on travel time and assist navigating the ROW. </p></li>
                                            <li> <p>  Reviewed material resources and manpower required to successfully complete project while mitigating project delays to maintain time lines. </p></li>
                                            <li> <p>  Issued and tracked all equipment and material orders and storage. &nbsp;Including but not limited to: Lifts (for above ground pole fiber and antennas), Heavy Machinery (for buried fiber, bores, and hand holes), copper, fiber, antennas, switches, hubs, generators, rack equipment, and battery back-up systems. </p></li>
                                            <li> <p>  Controlled project milestones and sub-contractors from planning and development stages through quality control, monitoring, and final review. </p></li>
                                            <li> <p>  Interacted confidently with clients throughout projects, presenting updates, incorporating feedback, and redirecting concerns. </p></li>
                                            <li> <p>  Maintained strict budgets to maximize ROI by correctly forecasting requirements and controlling expenses. </p></li>
                                            <li> <p>  Managed and assisted troubleshooting for all post-project maintenance contracts. </p></li>
                                    </ul>
                                </div><!-- timeline-row -->
                            </div><!-- timeline-row -->
                            <div class="timeline-row">
                                <div class="timeline-left">
                                    <div class="experince-details">
                                            <span class="time-period text-upper">2015-2019</span>
                                        <h3 class="company">System Tech, Inc<span class="designation">Project Manager</span></h3>
                                    </div><!-- experince-details -->
                                </div><!-- timeline-left -->
                                <div class="timeline-right">
                                    <ul class="experince-description">
                                            <li> <p> Verified project plan feasibility, drew designs and facilitated consistent, accurate communication with operations. </p></li>
                                            <li> <p>  Outlined human and material resources required to successfully complete project, including reviewing and implementing change orders to SOW. </p></li>
                                            <li> <p>  Assessed project scope, timeline, resources, and requirements to properly brief lead technicians and schedule manpower and tool resources. </p></li>
                                            <li> <p>  Developed methods to analyze project management, project delivery risks, and inter-trade communication and cooperation to cut down potential delays and extra material costs. </p></li>
                                            <li> <p>  Wrote and implemented programs for scheduling, asset tracking, project time windows, and cost analysis. </p></li>
                                            <li> <p>  Continuously trained and managed between 20 to 30 technicians with over 20 projects at any given time in design, active, and closing stages. </p></li>
                                            <li> <p>  Handled high-level technical designs and programming, troubleshooting, testing, and fiber-optic splicing. </p></li>
                                            <li> <p>  Designed and completed training programs for everyone from entry level installer to lead technician and fiber splicer and on all new systems. </p></li>
                                            <li> <p>  Maintained constant material and tool counts and tracking, vehicle tracking and upkeep, and travel accommodations/scheduling. </p></li>
                                            <li> <p>  Developed relationships between the company and the customer, resulting in an increase in bids, won, and completed projects. </p></li>
                                            <li> <p>  Maintained an average of 32% profit (12% above goal) over the course of 700+ projects including new multi-story commercial building construction in healthcare industry. </p></li>
                                            <li> <p>  Obtained numerous system certifications and became the primary trainer and certifier on new system installs for the company due to ability to understand complex systems naturally. </p></li>
                                    </ul>
                                </div><!-- timeline-row -->
                            </div><!-- timeline-row -->
                            <div class="timeline-row">
                                <div class="timeline-left">
                                    <div class="experince-details">
                                            <span class="time-period text-upper">2012-2015</span>
                                        <h3 class="company">Trademark Mechanical<span class="designation">Senior Marketing and Sales Manager</span></h3>
                                    </div><!-- experince-details -->
                                </div><!-- timeline-left -->
                                <div class="timeline-right">
                                    <ul class="experince-description">
                                            <li> <p> Monitored sales performance and enforced adherence to established sale quotas, increasing lead generation by over 1,100%. </p></li>
                                            <li> <p>  Hired, trained, and motivated marketing staff to develop revenue-driving strategies and campaigns through relationship with outlets like Home Depot in area over all of North Idaho and Spokane. </p></li>
                                            <li> <p>  Evaluated marketing campaign performance and implemented actionable improvements in direct, retail, and trade show marketing platforms. </p></li>
                                            <li> <p>  Gained certifications in HVAC systems, AC and furnace installation, water heaters, and duct cleaning. &nbsp;Assisted in training of all systems marketing and technician work. </p></li>
                                            <li> <p>  Submitted weekly, monthly and quarterly sales and lead generation reports to inform senior management. </p></li>
                                    </ul>
                                </div><!-- timeline-row -->
                            </div><!-- timeline-row -->
                    </div><!-- experience-timeline -->
            </section><!-- experience-section -->
            <section class="content-wrapper text-center education-section">
                <i class="fas fa-graduation-cap"></i>
                <h2 class="text-upper">EDUCATION</h2>
            </section><!-- education-section -->
            <section class="content-wrapper text-center skills-section">
                <i class="fas fa-star"></i>
                <h2 class="text-upper">SKILLS</h2>
                    <ul class="skills-list">
                            <li>
                                <i class="far fa-check"></i>
                                <span>Written and verbal communication</span>
                            </li>
                            <li>
                                <i class="far fa-check"></i>
                                <span>Business planning and development</span>
                            </li>
                            <li>
                                <i class="far fa-check"></i>
                                <span>Networking, recruitment, and hiring</span>
                            </li>
                            <li>
                                <i class="far fa-check"></i>
                                <span>Blueprint, GIS, and CAD software</span>
                            </li>
                            <li>
                                <i class="far fa-check"></i>
                                <span>Project management and tracking</span>
                            </li>
                            <li>
                                <i class="far fa-check"></i>
                                <span>Social perceptiveness and awareness</span>
                            </li>
                            <li>
                                <i class="far fa-check"></i>
                                <span>Critical and Analytical thinking</span>
                            </li>
                            <li>
                                <i class="far fa-check"></i>
                                <span>Sales, marketing, and training</span>
                            </li>
                            <li>
                                <i class="far fa-check"></i>
                                <span>Multitasking under deadlines</span>
                            </li>
                    </ul>
            </section><!-- skills-section -->
        </div><!-- container-main -->
            <section class="contact-section">
                <div class="container-main">
                    <h2 class="text-upper text-center">Contact Me</h2>
                    <ul class="contact-options">
                        <li class="person">
                            <div class="contact-details">
                                <h2>Eric Emery</h2>
                                <span class="designation">Construction Supervisor OSP</span>
                            </div>
                        </li>
                        <li class="text-center">
                            <i class="fas fa-envelope"></i>
                                <a href=" mailto:eric.trueemotion@gmail.com" class="contact-details">eric.trueemotion@gmail.com</a>
                        </li>
                        <li class="text-center">
                            <i class="fas fa-phone-alt"></i>
                            <span class="contact-details">2087895736</span>
                        </li>
                    </ul>
                </div><!-- container-main -->
            </section><!-- skills-section -->
            <footer class="footer text-center">©2022 By Eric Emery. Created With <a target="_blank" href="https://www.resumenerd.com/">Resumenerd.com</a></footer>

</body>
</html>
